* {
    font-family: serif;
}

body {
    background-color: rgb(240, 240, 240);
}

/* ===============================[NAVBAR]=============================== */

#navbar-icon {
    width: 30px;
    margin-left: 1%;
}

.navbar-link {
    color: rgb(162, 0, 255);
    margin: 5px 1%;
    text-decoration: none;
    transition: 0.2s;
}

#shade-text {
    color: rgba(162, 0, 255, 0.5);
}

.navbar-link:hover {
    color: rgba(162, 0, 255, 0.5);
}

/* ===============================[HEADER]=============================== */

header {
    margin-top: 7%;
}

#font-reeniebeanie {
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 5rem;
    animation-name: fontcolor;
    animation-duration: 10s;
}

@keyframes fontcolor {
0%   {color: hotpink;}
25%  {color: purple;}
50%  {color: orange;}
75% {color:fuchsia;}
100% {color: black;}
}

.align-center {
    text-align: center;
}

#aboutme-img {
    filter: grayscale(100);
    display: flex;
    margin: 10% auto 6% auto;
    width: 80%;
    margin-bottom: 4%;
}

/* ===============================[MAIN]=============================== */

.container {
    display: flex;
    flex-flow: row wrap;
}

.item {
    position: relative;
    width: 50%;
}

.item p {
    font-size: medium;
}
  
.display-img {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.item:hover {
    filter:grayscale(100);
}
  
.item:hover .overlay {
    opacity: 1;
}
  
.overlay-text {
    color: white;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid black;
    padding: 3%; 
}

.aboutme-text {
    margin: 0% 10%;
}

.projects-img-small {
    display: flex;
}

.projects-text { 
    margin: 3% 35% 0% 7%;
}

/* ===============================[FOOTER]=============================== */


footer {
    background-color: rgb(173, 173, 173);
    color: beige;
    padding: 2rem 0;
    margin-top: 5%;
}

.contact-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#footer-contact {
    margin: 4% 5% auto auto;
}

#footer-mailto {
    color: rgb(100, 105, 128);
    text-decoration: none;
}

#footer-message {
    display: flex;
    margin: 4% auto auto 5%;
    flex-direction: column;
}

#footer-message h3 {
    margin-bottom: 3%;
}

.send-box {
    width: 25rem;
    opacity: 0.5;
}

#send-button {
    background-color: transparent;
    color: beige;
    border: none;
    width: 55px;
    height: 30px;
    margin-left: auto;
}

#copyright {
    margin: 3%;
    text-align: center;
}
